body {
  color: white;
}

img {
    border-radius: 10%;
    margin: 12px;
}
.well {
    background-color: rgba(255,255,255,0.6);
}

.well1 {
    background-color: rgba(255,255,255,0.3);
}

.carousel-inner img {
    max-height: 400px;
    border-radius: 20%;
    border-style: solid;
}

.bold {
    font-weight: bold;
    font-size: 20;
}

form, .well {
  color: black;
}

.new{
    color: black;
    background-color: transparent;
}

.img-circle {
    border-radius: 20%;
    max-height: 300px;
    max-width: 270px;
}

.table {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  }
  ul#horizontal-list li {
    display: inline;
  }

 body { background: url("/home_pic.jpg")  no-repeat center center fixed;
    background-size: cover;
    background-color: #cccccc; ;
 }

 .well img {
    max-width: 100%
 }

 h1 {
    
    color: white;
}


section#contact {
    background-color: #222222;
    background-image: url('http://artdnaswitchbd.com/componants/images/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
}
section {
    padding: 30px 0PX;
}
section#contact .section-heading {
    color: white;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
.gellary_bg_none img{
    width: 100%;
    height: 250px;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact .text-danger {
    color: #e74c3c;
}

.about_our_company{
    text-align: center;
}
.about_our_company h1{
    font-size: 25px;
}
.titleline-icon {
    position: relative;
    max-width: 100px;
    border-top: 4px double #F99700;
    margin: 20px auto 20px;
}
.titleline-icon:after {
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'FontAwesome';
    content: "\f141";
    font-size: 20px;
    line-height: 1;
    color: #F99700;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    background: #ffffff;
}

.grid{
    margin-left: 100px;
}

#pad {
    padding: 1px 57px;
    margin-left:50px;
}
