// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.front{

  position: inline-block;
  font-size: 50;
  padding: 1px 300px;
  margin: 10px 70px;
  color: black;
}