<h1><%= @appointment.barber.first_name %></h1>


      <h1>My Appointment: </h1> 
  <ol> 
    <h2><li>Customer's Name: <%= @appointment.user.name %> </li></h2> 
    <h2> <li>Haircut: <%= @appointment.haircut.name %> </li>
    </h2>
  </ol>


